<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuri.mapper.TbItemMapper">
	<select id="findTbItemById" parameterType="long" resultType="com.yuri.bean.TbItem">
		SELECT * FROM tbitem WHERE id = #{id}
	</select>
	<select id="findTbItemCount" resultType="int">
		SELECT count(*) FROM tbitem 
	</select>
	<select id="findTbItemByPage" parameterType="Integer" resultType="com.yuri.bean.TbItem">
		<!-- SELECT * FROM tbitem LIMIT #{0},#{1} -->
		SELECT * FROM tbitem LIMIT #{index},#{pageSize}
	</select>
</mapper>
