<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuri.mapper.TbItemMapper">
	<select id="findTbItemById" parameterType="long" resultType="com.yuri.bean.TbItem">
		SELECT * FROM tbitem WHERE id = #{id}
	</select>
	<select id="findTbItemCount" resultType="int">
		SELECT count(*) FROM tbitem 
	</select>
	<select id="findTbItemByPage" parameterType="Integer" resultType="com.yuri.bean.TbItem">
		<!-- SELECT * FROM tbitem LIMIT #{0},#{1} -->
		SELECT * FROM tbitem LIMIT #{index},#{pageSize}
	</select>
	<!-- 写了@Param不用写parameterType -->
	<delete id="deleteItemByIds">
		UPDATE tbitem SET `status` = 2 
		<where>
			<foreach collection="ids" open="id in(" separator="," close=")" item="id">
				#{id}
			</foreach>
		</where>
	</delete>
	<update id="updateItemByIds">
		UPDATE tbitem SET `status` = #{type}
		<where>
			<foreach collection="ids" open="id in(" separator="," close=")" item="id">
				#{id}
			</foreach>
		</where>
	</update>
	<select id="searchByKeyWord" resultType="com.yuri.bean.TbItem">
		SELECT * FROM tbitem
		<where>
			<if test="keyWord!= null and keyWord!=''">
				and title LIKE "%"#{keyWord}"%"
			</if>
			<if test="price!=null and price==0">
				and price BETWEEN 0 and 10000
			</if>
			<if test="price!=null and price==10000">
				and price BETWEEN 10000 and 50000
			</if>
			<if test="price!=null and price==50000">
				and price >50000
			</if>
		</where>
	</select>
	<select id="searchByKeyWordByPage" resultType="com.yuri.bean.TbItem">
		SELECT * FROM tbitem
		<where>
			<if test="keyWord!= null and keyWord!=''">
				and title LIKE "%"#{keyWord}"%"
			</if>
			<if test="price!=null and price==0">
				and price BETWEEN 0 and 10000
			</if>
			<if test="price!=null and price==10000">
				and price BETWEEN 10000 and 50000
			</if>
			<if test="price!=null and price==50000">
				and price >50000
			</if>
		</where>
		LIMIT #{index},#{pageSize}
	</select>
</mapper>
