<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuri.mapper.TbItemParamMapper">
	<!-- 多表查询返回结果集用resultMap -->
	<resultMap type="com.yuri.bean.TbItemParamGroup" id="group_param">
		<!-- 一一映射关系 
		column指的是表里面的字段名称 查询出来的字段名称-->
		<id column="groupId" property="id"/>
		<result column="groupName" property="groupName"/>
		<result column="itemCatId" property="itemCatId"/>
		<!-- 一对多用collection -->
		<collection property="paramKeys" ofType="com.yuri.bean.TbItemParamKey">
			<id column="paramId" property="id"/>
			<result column="paramName" property="paramName"/>
		</collection>
	</resultMap>
	<select id="findTbItemGroupByCId" parameterType="long" resultMap="group_param">
	SELECT
		a.id groupId,
		a.groupName,
		a.itemCatId,
		b.id paramId,
		b.paramName
	FROM
		tbitemparamgroup a
	INNER JOIN 
		tbitemparamkey b 
	ON 
		a.id = b.groupId
	WHERE
		itemCatId = #{cId}
	</select>
	
	<insert id="saveTbItemParamValue">
		INSERT INTO tbitemparamvalue(itemId,paramId,paramValue) VALUES
		<foreach collection="tbItemParamValues" separator=","  item="tbItemParamValue">
			(#{tbItemParamValue.itemId},#{tbItemParamValue.paramId},#{tbItemParamValue.paramValue})
		</foreach>
	</insert>
	
	<insert id="addParamGroup">
		INSERT INTO tbitemparamgroup(groupName,itemCatId) VALUES
		<foreach collection="groups" separator=","  item="group">
			(#{group.groupName},#{group.itemCatId})
		</foreach>
	</insert>
	
	<select id="findTbItemGroupIdBycId" parameterType="long" resultType="int">
		SELECT id FROM tbitemparamgroup WHERE itemCatId = #{itemCatId}
	</select>
	
	<insert id="addParamGroupKeys">
		INSERT INTO tbitemparamkey(paramName,groupId) VALUES
		<foreach collection="paramKeys" separator=","  item="paramKey">
			(#{paramKey.paramName},#{paramKey.groupId})
		</foreach>
	</insert>
</mapper>